* {
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1440px;
    position: relative;
    margin: auto;
}

.menu-links {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;

}

h1 {
    text-align: center;
    margin: 25px 0 0 0;
    /*display: block;*/
}

p {
    margin: 0;
}

#figure {
    display: flex;
    justify-content: center;
}

#gd_buttons {
    display: flex;
    justify-content: center
}

#gd_buttons button {
    margin: 0 5px;
}

#info {
    position: absolute;
    height: 200px;
    width: 300px;
    left: 50%;
    margin-left: 350px;
    top: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.algoLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 10px;
    height: 200px;
    width: 300px;
    font-size: 20px;
}

.algoLinks span {
    font-size: 25px;
}