<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML Visualization Suite</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
<h1>Machine Learning Algorithm Visualizations</h1>
<div class="cards">

</div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script>
    const algorithmNames = ['Linear Regression', 'Logistic Regression', 'K-Means']
    const descriptions = [
        `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper, urna eu iaculis accumsan, nulla magna lobortis arcu, sed varius dolor augue id velit. Praesent sit amet justo ut diam placerat fringilla. Maecenas quis egestas nisi. Phasellus commodo rutrum tellus ut aliquet. Praesent consectetur vestibulum augue, in vulputate lacus euismod eget.`,
        `Phasellus non neque et justo mattis venenatis. Integer in nibh vitae massa volutpat rhoncus non non massa. Donec id fringilla metus, sed consequat nisl. Nunc eget gravida neque, a bibendum nunc. Pellentesque fringilla nunc eget velit suscipit rutrum. Mauris eu consectetur neque, interdum malesuada ante. Etiam tempor neque non magna consequat, eu porta ipsum ullamcorper. In et justo eu arcu porta convallis ultricies sit amet nisl.`,
        `Aenean sit amet tempor velit, quis sollicitudin dui. Vestibulum tempus nibh in magna auctor facilisis. Curabitur magna mauris, semper a convallis in, eleifend at velit. Aenean tincidunt velit eu luctus dictum. Praesent hendrerit lectus non efficitur hendrerit. Suspendisse maximus sem nunc, nec ultrices elit suscipit ac.`
    ]
    const ids = ['linreg', 'logreg', 'kmeans']
    for (let i = 0; i < algorithmNames.length; i++) {
        $(".cards").append(`
            <div class="card" id="` + ids[i] + `">
                <h2>` + algorithmNames[i] + `</h2>
                <img src="https://loremflickr.com/320/240?random=` + i + `" alt="` + algorithmNames[i] + `"/>
                <p>` + descriptions[i] + `</p>
            </div>
        `)
        $("#" + ids[i]).click(function () {
            window.location.href='/' + ids[i];
        })
    }
</script>
<style>
    * {
        font-family: 'Roboto', sans-serif;
    }

    h1 {
        text-align: center;
    }

    .cards {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .card a {
        text-decoration: none;
    }
</style>