{% extends "base.html" %}

{% block title %}
    K-Means
{% endblock %}

{% block name %}
    K-Means Visualization
{% endblock %}

{% block graph %}
<div id="graph" onclick='addPoint("k")'>
    {{ graph | safe }}
</div>
{% endblock %}

{% block content %}
    <div style="display: flex; flex-direction: column">
        <p style="text-align: center">Perform K-Means</p>
        {% block gdButtons %}
            <div id="iter_buttons">
                <button onclick="kMeans(1)">1 iteration</button>
                <button onclick="kMeans(100_000)">Until convergence</button>
                <button onclick="reinitializeCentroids()">Reinitialize centroids</button>
                <button onclick="location.reload()">Clear</button>
            </div>
        {% endblock %}
    </div>

    <div id='info'>
        <p id='converged'>Run K-Means until convergence</p>
        <br/>

        <p>Number of Clusters:</p>
        <div>
            <input type="radio" id="twoClusters" name="clusters" value="2" checked>
            <label>2</label>
        </div>
        <div>
            <input type="radio" id="threeClusters" name="clusters" value="3">
            <label>3</label>
        </div>
        <div>
            <input type="radio" id="fourClusters" name="clusters" value="4">
            <label>4</label>
        </div>
        <div>
            <input type="radio" id="fiveClusters" name="clusters" value="5">
            <label>5</label>
        </div>
        <br/>

        <p id='next_step'>Initialize centroids</p>
    </div>
{% endblock %}

{% block modalButtonText %}
    How does K-Means work?
{% endblock %}

{% block moreInfoModalContent %}
    <h2>How K-Means Works</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu neque quis nunc ultrices lobortis a eget
        erat. Fusce viverra neque non sapien scelerisque, quis viverra mauris lobortis. Nam eu nisl ipsum. Curabitur
        feugiat vitae tortor eget ullamcorper. Ut ultrices dolor et leo ornare, vel rutrum orci euismod. Integer ornare
        suscipit tristique. Mauris gravida ex condimentum varius vulputate. Mauris at suscipit tortor, vitae varius
        nisl.</p>
    <br/>
    <p>Vestibulum lacinia eros vel urna mollis dignissim. Nunc porta imperdiet enim non pharetra. Curabitur enim
        velit, lacinia ac massa non, iaculis porttitor dolor. In massa sem, pharetra non augue at, faucibus tempor
        erat. Nunc
        at volutpat risus. Nunc nisi ante, condimentum vel imperdiet sit amet, congue ac enim. Aenean feugiat pharetra
        est ut iaculis. Donec libero libero, accumsan sed hendrerit vitae, vulputate in purus. Nulla quis justo id odio
        sollicitudin feugiat eu quis lectus. Cras vitae dui congue, fermentum sapien sit amet, dictum mi. Curabitur id
        ultrices tellus, in scelerisque tortor. Morbi et elit at dolor venenatis interdum a non dolor.</p>
{% endblock %}