{% extends "gdBase.html" %}

{% block title %}
    Linear Regression
{% endblock %}

{% block name %}
    Linear Regression!
{% endblock %}

{% block graph %}
    <div id="graph" onclick='addPoint("r")'>
        {{ graph | safe }}
    </div>
{% endblock %}

{% block gdButtons %}
    <div id="gd_buttons">
            <button onclick="gradDesc(1, 'linreg-grad-desc')">1 iteration</button>
            <button onclick="gradDesc(5, 'linreg-grad-desc')">5 iterations</button>
            <button onclick="gradDesc(10, 'linreg-grad-desc')">10 iterations</button>
            <button onclick="gradDesc(100, 'linreg-grad-desc')">100 iterations</button>
            <button onclick="gradDesc(100_000_000, 'linreg-grad-desc')">Until convergence</button>
            <button onclick="location.reload()">Clear</button>
        </div>
{% endblock %}