{% extends "gdBase.html" %}

{% block title %}
    Logistic Regression
{% endblock %}

{% block name %}
    Logistic Regression!
{% endblock %}

{% block graph %}

{% endblock %}

{% block nameOfAlgorithm %}Perform Gradient Descent{% endblock %}

{% block chooseClass %}
    <p>Choose class: </p>
    <div>
        <input type="radio" id="red" name="class" value="r" checked>
        <label for="male">red</label>
    </div>
    <div>
        <input type="radio" id="blue" name="class" value="b">
        <label for="female">blue</label>
    </div>
    <br/>
{% endblock %}


{% block gdButtons %}
    <div id="gd_buttons">
        <button onclick="gradDesc(1, 'logreg-grad-desc')">1 iteration</button>
        <button onclick="gradDesc(5, 'logreg-grad-desc')">5 iterations</button>
        <button onclick="gradDesc(10, 'logreg-grad-desc')">10 iterations</button>
        <button onclick="gradDesc(100, 'logreg-grad-desc')">100 iterations</button>
        <button onclick="gradDesc(100_000_000, 'logreg-grad-desc')">Until convergence</button>
        <button onclick="location.reload()">Clear</button>
    </div>
{% endblock %}